<%= form_with(model: contract) do |f| %>
  <%= f.label :job_number %>
  <%= f.text_field :job_number %>

  <%= f.label :job_name %>
  <%= f.text_field :job_name %>

  <%= f.label :job_amount %>
  <%= f.text_field :job_amount %>
   
  
  <% if contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

      <ul>
        <% contract.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

  


  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>
